<table-submenu></table-submenu>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Table - <span class="subitem">Ellipses</span></span>
        <span>Ellipses can be applied to the cells conditionally, in which cell content overflows outside of the cell. The ellipses can be used in addtion with tooltip to show the full content of table cell, on which ellipses is applied.</span>
    </div>
</div>

<div class="content-section implementation">
  <h3 class="first">Basic</h3>
  <p-table [columns]="cols" [value]="cars2">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                  <span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom">{{rowData[col.field]}}</span>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<div class="content-section implementation">
    <h3 class="first">Scroll - Resize Mode (Fit)</h3>
    <p-table [columns]="cols" [value]="cars1" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom">{{rowData[col.field]}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>

  <div class="content-section implementation">
    <h3 class="first">Scroll - Resize Mode (Expand)</h3>
    <p-table [columns]="cols" [value]="cars1" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true" columnResizeMode="expand">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom">{{rowData[col.field]}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>

  <div class="content-section implementation">
    <h3 class="first">No Scroll - Resize Mode (Fit)</h3>
    <p-table [columns]="cols" [value]="cars2" [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom">{{rowData[col.field]}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>

  <div class="content-section implementation">
    <h3 class="first">No Scroll - Resize Mode (Expand)</h3>
    <p-table [columns]="cols" [value]="cars2" [resizableColumns]="true" columnResizeMode="expand">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom">{{rowData[col.field]}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>

  <div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="tablescrolldemo.ts">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/table/tablescrolldemo.ts" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
    <pre>
    <code class="language-typescript" pCode ngNonBindable>
    export class TableEllipsisDemo implements OnInit &#123;

        cars1: Car[];
        cars2: Car[];
        cols: any[];

        constructor(private carService:CarService) &#123; &#125;

        ngOnInit()&#123;
          this.carService.getCarsMedium().then(cars => &#123;
            this.cars1 = cars

            this.cars1[3].vin = '1ZVHT8-2H4851-13K456-67DSHJ-GHFW6G';
            this.cars1[0].brand = 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA';
            this.cars1[0].color = 'Rechtsschutzversicherungsgesellschaften';
          &#125;);

          this.carService.getCarsSmall().then(cars => &#123;
            this.cars2 = cars

            this.cars2[3].vin = '1ZVHT8-2H4851-13K456-67DSHJ-GHFW6G';
            this.cars2[0].brand = 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA';
            this.cars2[0].color = 'Rechtsschutzversicherungsgesellschaften';
          &#125;);

          this.cols = [
              &#123; field: 'vin', header: 'Vin' &#125;,
              &#123; field: 'year', header: 'Year' &#125;,
              &#123; field: 'brand', header: 'Brand' &#125;,
              &#123; field: 'color', header: 'Color' &#125;
          ];
        &#125;
    &#125;
    </code>
    </pre>
            </p-tabPanel>

            <p-tabPanel header="tablescrolldemo.html">
                <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/table/tablescrolldemo.html" class="btn-viewsource" target="_blank">
                    <i class="fa fa-github"></i>
                    <span>View on GitHub</span>
                </a>
                <pre>
                <code class="language-markup" pCode ngNonBindable>
                &lt;h3 class="first"&gt;Basic&lt;/h3&gt;
                &lt;p-table [columns]="cols" [value]="cars2"&gt;
                    &lt;ng-template pTemplate="header" let-columns&gt;
                        &lt;tr&gt;
                            &lt;th *ngFor="let col of columns"&gt;
                                {{col.header}}
                            &lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/ng-template&gt;
                    &lt;ng-template pTemplate="body" let-rowData let-columns="columns"&gt;
                        &lt;tr&gt;
                            &lt;td *ngFor="let col of columns"&gt;
                                &lt;span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom"&gt;{{rowData[col.field]}}&lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/ng-template&gt;
                &lt;/p-table&gt;

                &lt;h3 class="first"&gt;Scroll - Resize Mode (Fit)&lt;/h3&gt;
                &lt;p-table [columns]="cols" [value]="cars1" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true"&gt;
                    &lt;ng-template pTemplate="colgroup" let-columns&gt;
                        &lt;colgroup&gt;
                            &lt;col *ngFor="let col of columns"&gt;
                        &lt;/colgroup&gt;
                    &lt;/ng-template&gt;
                    &lt;ng-template pTemplate="header" let-columns&gt;
                        &lt;tr&gt;
                            &lt;th *ngFor="let col of columns" pResizableColumn&gt;
                                {{col.header}}
                            &lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/ng-template&gt;
                    &lt;ng-template pTemplate="body" let-rowData let-columns="columns"&gt;
                        &lt;tr&gt;
                            &lt;td *ngFor="let col of columns"&gt;
                                &lt;span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom"&gt;{{rowData[col.field]}}&lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/ng-template&gt;
                &lt;/p-table&gt;

                &lt;h3 class="first"&gt;Scroll - Resize Mode (Expand)&lt;/h3&gt;
                &lt;p-table [columns]="cols" [value]="cars1" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true" columnResizeMode="expand"&gt;
                    &lt;ng-template pTemplate="colgroup" let-columns&gt;
                        &lt;colgroup&gt;
                            &lt;col *ngFor="let col of columns"&gt;
                        &lt;/colgroup&gt;
                    &lt;/ng-template&gt;
                    &lt;ng-template pTemplate="header" let-columns&gt;
                        &lt;tr&gt;
                            &lt;th *ngFor="let col of columns" pResizableColumn&gt;
                                {{col.header}}
                            &lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/ng-template&gt;
                    &lt;ng-template pTemplate="body" let-rowData let-columns="columns"&gt;
                        &lt;tr&gt;
                            &lt;td *ngFor="let col of columns"&gt;
                                &lt;span pTextEllipsis [pTooltip]="rowData[col.field]" tooltipPosition="bottom"&gt;{{rowData[col.field]}}&lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/ng-template&gt;
                &lt;/p-table&gt;
                </code>
                </pre>
                        </p-tabPanel>
                    </p-tabView>
  </div>
